a {
    text-decoration: none !important;
}

.btn__body{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.2s, ease;
}

.btn__body.active{
    background-color: #b9932b;
    color: antiquewhite;
    transform: scale(1.04);
}

.btn__body:hover{
    color: rgb(117, 116, 113);
}

.btn__title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 12PX;
}